.cover__title {
    margin: 0px;
    padding-bottom: 134px;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 78px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__title {
        width: 574px;
        margin: 0 auto;
        padding-bottom: 120px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__title {
        width: 570px;
        margin: 0 auto;
        padding-bottom: 84px;
    }
}

@media screen and (max-width: 767px) {
    .cover__title {
        width: 240px;
        align-self: center;
        padding-bottom: 8px;
        font-size: 32px;
        line-height: 35px;
    }
}