.place__title {
    width: 460px;
    margin: 0;
    padding-right: 43px;
    font-size: 72px;
    font-weight: 900;
    line-height: 65px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__title {
        width: 440px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__title {
        width: 330px;
        padding-right: 38px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        width: 100%;
        font-size: 32px;
        line-height: 35px;
        padding-right: 0;
        padding-bottom: 16px;
    }
}