.footer__nav-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
}

@media screen and (max-width: 767px) {
    .footer__nav-list {
        flex-direction: column;
        margin-bottom: 48px;
    }
}