.intro__text-wrapper .intro__text {
    width: 283px;
    padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro__text-wrapper .intro__text {
        width: 220px;
        padding: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__text-wrapper {
        padding-bottom: 39px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .intro__text-wrapper {
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 374px) {
    .intro__text-wrapper {
        padding-bottom: 24px;
    }
}
