.emblem__city {
    /* ✅ нужно исправить: тут нет необходимости фиксировать ширину этого блока, по сути он должен быть такой же ширины как и родитель */
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    color: #CCCCCC;
}